<h1 style="color:red; font-family:Arial">Crazy Keiths Music Store!</h1>

<table border="1px">
  <tr>
    <th style="font-family:Arial">Album Name</th>

    <th style="font-family:Arial">Artist</th>
    
    <th style="font-family:Arial">Stock Level</th>
    
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.name() %></td>

    <td><a href="/artists/<%= album.artist_id %>"> <%= album.find_artist.name() %></a></td>
    
    <td><%= album.stock_level() %></td>
    
    <!-- <p><a href="/albums/<%=album.id %>">Show</a></p> -->
  </tr>
  <% end %>
</table>


