<h1>CK Music Store</h1>

<table>
  <tr>
    <th>Album Name</th>

    <th>Artist</th>
    
    <th>Stock Level</th>
    
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.name() %></a></td>

    <td><a href="/artists/<%= album.artist_id %>"> <%= album.find_artist.name() %></a></td>
    
    <td><%= album.stock_level() %></td>
    
    <!-- <p><a href="/albums/<%=album.id %>">Show</a></p> -->
  </tr>
  <% end %>
</table>


