<h1>CK Music Store</h1>
<hr class="style1">

<table>
  <tr>
    <th>Album Name</th>

    <th>Artist</th>
    
    <th>Stock Level</th>
    
  </tr>
  <% for album in @albums %>
  <tr>
    <td class="td1"><a href="/albums/<%= album.id %>"><%= album.name() %></a></td>

    <td class="td1"><a href="/artists/<%= album.artist_id %>"> <%= album.find_artist.name() %></a></td>
    
    <td class="td1"><%= album.stock_level() %></td>
    
    
  </tr>
  <% end %>
</table>


