<h1> Edit Stock </h1>
<hr class="style1">

<form action="/albums/<%= @album.id %>/edit" method="post">
<label>
  Select Artist:
  <select name="artist_id">
    <%for artist in @artists%>
    <option value="<%=artist.id%>"<%= "selected" if artist.id == @album.artist_id %> >
    <%=artist.name%>
    </option>
    <%end%>
  </select>
</label>

<label>
  Enter Album:
  <input type="text" name="name" value="<%= @album.name() %>">
</label>

<label>
Number of Albums in Stock: 
<input type="text" name="name" value="<%= @album.quantity() %>">
  
</label>

<label>

<input class="btn btn--new" type="submit" value="update">
</form>