<h1> Album </h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Artist</th>
    <th></th>
    <th>Price to Buy</th>
    <th></th>
    <th>Price to Sell</th>
  </tr>

  <tr>
    <td><%=@album.name%><td>
      <td></td>
      <td><%=@album.quantity%><td>
        <td></td>
        <td><%=@album.find_artist.name%><td>
          <td></td> 
          <td><%= @album.find_prices.price_buy %><td>
            <td></td>
            <td><%=@album.find_prices.price_sell%><td>
              <td></td>
            </tr>

          </table>
        <p><a href="/albums/<%=@album.id%>/to_buy">Replenish Stock</a></p>

        <p><a href="/albums/<%=@album.id%>/edit">Sell Album</a></p>
