<h1> Album </h1>


    <h2><%=@album.name%></h2>
        <tr></tr>
        <p>By <%=@album.find_artist.name%></p>
          <tr></tr> 
          <p><%=@album.quantity%> albums in stock</p>
          <tr></tr>
          <p>Price to Buy: £<%= @album.find_prices.price_buy %></p>
            <tr></tr>
            <p>Price to Sell: £<%=@album.find_prices.price_sell%></p>
              <tr></tr>
            

      
        <p><a class="btn btn--stock" href="/albums/<%=@album.id%>/to_buy">Replenish Stock</a></p>  

        <p><a class="btn btn--stock" href="/albums/<%=@album.id%>/to_sell">Sell Album</a></p>
